 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Projects</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a href="/admin/projects/{{project.alias}}/delete" class="btn btn-sm btn-outline-secondary">Delete</a>
            <a href="/admin/projects/{{project.alias}}/upload-demo" class="btn btn-sm btn-outline-secondary">upload Demo</a>
          </div>
        </div>
      </div>


      <h2>Section title</h2>
     <form action="/admin/projects/{{project.alias}}/update" method="POST">
       <div class="row">
         <div class="col-md-6">
               <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" name="name" class="form-control" id="name" value="{{project.name}}">
              </div>
        </div>
         <div class="col-md-6">
               <div class="form-group">
                   <label for="alias">Alias</label>
                   <input type="text" name="alias" class="form-control" id="alias" value="{{project.alias}}" readonly>
              </div>
        </div>
         <div class="col-md-6">
               <div class="form-group">
                   <label for="githubUrl">GithubUrl</label>
                   <input type="text" name="githubUrl" class="form-control" id="githubUrl" value="{{project.githubUrl}}">
              </div>
        </div>
         <div class="col-md-6">
               <div class="form-group">
                   <label for="name">Tags</label>
                   <input type="text" name="tags" class="form-control" id="name" value="{{#each project.tags}}{{this.name}},{{/each}}">
              </div>
        </div>
         <div class="col-md-6">
              <textarea name="description" class="form-control" id="description" rows="5" class="form-control" placeholder="Description">{{project.description}}</textarea>
        </div>

         <div class="col-md-6">
               {{#if project.image}}
                   <div class="form-group">
                  <img src="{{project.image}}" alt="Caspar" height="250px" width="250px" srcset="">
              </div>
                  <a href="/admin/projects/{{project.alias}}/upload-img">Upload Image</a>
               {{else}}
               <a href="/admin/projects/{{project.alias}}/upload-img">Upload Image</a>
               {{/if}}
              
        </div>
       </div>

       <button type="submit" class="btn btn-primary my-3" id="submitData">Update</button>

     </form>
    </main>